
.title {
  color: #788544;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#titlemain {
  color: #eee;
  margin: 5px;
  font-size: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: 100px;
}

#subtitle {
  color: #eee;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: 95px;
}

.content {
  /* margin: 10px; */
  font-family: 'Playfair Display', sans-serif;
}

#oviveiro-text{
  max-width: 70%;
  margin: auto;
}

#quemsomos-text{
  max-width: 70%;
  margin: auto;
}

#root {
  background-color: #eee;
  font-family: 'Hind', sans-serif;
}

a {
  text-decoration: none;
}

.nav-item:hover {
  transform: scale(1.1);
}

.navlink:hover {
  background-color: #d1dbaa;
}

nav {
  max-width: 70%;
  margin: 0 auto;
  max-height: 75px;
}

#headline {
  width: 100%;
  height: 550px;
  background-image: url("../public/viveiro-img3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-icon {
  background-color: #788544;
}

.left-right {
  font-size: 28px;
  color: #eee;
}

#separator-one {
  position: relative;
  bottom: 75px;
  font-size: 50px;
  color: #788544;
  background-color: #eee;
  border-radius: 50%;
  width: 70px;
}

#separator-two {
  position: relative;
  top: 55px;
  font-size: 50px;
  color: #788544;
  background-color: #eee;
  border-radius: 50%;
  width: 70px;
}

.main-icon {
  font-size: 80px;
  color: #d1dbaa;
}

#video {
  width: 50%;
}

#oqueproduzimos-text {
  max-width: 70%;
  margin: auto;
}

#cards {
  max-width: 80%;
  margin: auto;
}

#carouselExampleIndicators{
  max-width: 80%;
  margin: auto;
}

#carouselMultiItemExample {
  position: relative;
  bottom: 194px;
  height: 150px;
}

#main-content {
  background-color: #d7ddbe;
}

.btn {
  background-color: #788544;
  color:#eee;
}

.btn:hover {
  transform: scale(1.1);
  color: #eee;
}


/* X-Large devices (large desktops, 1200px and down) */
@media (max-width: 1400px) { 
#titlemain {
  font-size: 50px;
}
#video {
  width: 70%;
}
#carouselMultiItemExample {
  position: relative;
  bottom: 217px;
}
} 


@media (max-width: 991.98px) { 
  #titlemain {
    font-size: 50px;
  }
  #video {
    width: 70%;
  }
  #carouselMultiItemExample {
    position: relative;
    bottom: 170px;
  }
} 

/* Medium devices (tablets, 768px and down) */
@media (max-width: 767.98px) { 
  #titlemain {
    font-size: 50px;
  }
  #video {
    width: 70%;
  }
  #carouselMultiItemExample {
    position: relative;
    bottom: 194px;
  }
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 575.98px) { 
  #titlemain {
    font-size: 40px;
  }
  #subtitle {
    font-size: 30px;
  } 
  #video {
    width: 70%;
  }
  #carouselMultiItemExample {
    position: relative;
    bottom: 194px;
  }
}

@media (max-width: 375px) { 
  #titlemain {
    font-size: 40px;
  }
  #subtitle {
    font-size: 30px;
  } 
  #video {
    width: 70%;
  }
  #carouselMultiItemExample {
    position: relative;
    bottom: 217px;
  }
}

@media (max-width: 280px) { 
  #titlemain {
    font-size: 40px;
  }
  #subtitle {
    font-size: 30px;
  } 
  #video {
    width: 70%;
  }
  #carouselMultiItemExample {
    position: relative;
    bottom: 265px;
  }
}