
.title {
  color: #788544;
  margin: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#titlemain {
  color: #eee;
  margin: 5px;
  font-size: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: 100px;
}

#subtitle {
  color: #eee;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: 95px;
}

.content {
  margin: 10px;
  font-family: 'Playfair Display', serif;
}

#viveiro-img {
  width: 50%;
  height: auto;
}

#quemsomos-img{
  width: 50%;
  height: auto;
}

#root {
  background-color: #eee;
  font-family: 'Hind', sans-serif;
}

a {
  text-decoration: none;
}

.nav-item:hover {
  transform: scale(1.1);
}

.navlink:hover {
  background-color: #d1dbaa;
}

nav {
  max-width: 70%;
  margin: 0 auto;
  max-height: 75px;
}

#headline {
  width: 100%;
  height: 500px;
  background-image: url("../public/viveiro.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#blocks {
  max-width: 70%;
  position: relative;
  top: -170px;
}

#oviveiro-text{
  max-width: 60%;
  margin: 0 auto;
}


