
.title {
  color: #788544;
  margin: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  margin: 10px;
  font-family: 'Playfair Display', serif;
}

#viveiro-img {
  width: 50%;
  height: auto;
}

#quemsomos-img{
  width: 50%;
  height: auto;
}

#root {
  background-color: #eee;
  font-family: 'Hind', sans-serif;
}

a {
  text-decoration: none;
}

.nav-item:hover {
  transform: scale(1.1);
}

.navlink:hover {
  background-color: #eee;
}

nav {
  max-width: 70%;
  margin: 0 auto;
  max-height: 75px;
}

